*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color:hsl(0, 0%, 86%);
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.app-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em;
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 175px;
}

.inputs-container{
    position: relative;
    display: flex;
    gap: 2em;
    padding-bottom: 3em;
    padding-right: 10em;
    border-bottom: 1px solid hsl(0, 0%, 86%);
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 10em;
}

.input-container p{
    font-size: .8em;
    letter-spacing: .2em;
    color: hsl(0, 1%, 44%)
}

input{
    font-size: 2em;
    padding: .2em .5em .2em .5em;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 86%);
    outline: none;
}

input:focus{
    border: 1px solid hsl(259, 100%, 65%);
}

button{
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 1.5em;
    background-color: hsl(259, 100%, 65%);
    right: 0;
    bottom: -35%;
}

button:hover{
    background-color: hsl(0, 0%, 8%);
}

.results-container{
    font-size: 5em;
    font-style: italic;
    font-weight: 800;
    color: hsl(259, 100%, 65%);
}

.results-container span{
    color: hsl(0, 0%, 8%);
}

@media(max-width: 425px){
    .main-container{
        padding: 2em;
    }

    .app-container{
        padding: 3em 1em 3em 1em;
        width: 100%;
    }

    .input-container{
        width: 45%;
    }
    
    input{
        font-size: 1.5em;
    }

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -25%;
        right: 50%;
        margin-right: -23px;
        padding: .5em;
        border-radius: 50%;
    }

    svg{
        width: 50%;
    }

    .results-container{
        font-size: 4.5em;
    }
}

@media(max-width: 425px){
    .results-container{
        font-size: 4em;
    }
}